<%- include("header") -%>
<div class="box" id="heading">
    <h1><%= titleSent %></h1>
</div>

<div class="box">
  <% items.forEach(object=>{ %>
    <form action="/delete" method="post">
      <div class="item">
        <input type="checkbox" name="checkbox" value="<%= object._id %>" onclick="this.form.submit()">
        <p><%= object.items %></p>
      </div>
      <input type="hidden" name="object" value=<%= titleSent %>></input>
    </form>

  <% }) %>

  <form class="postform" action="/" method="post">
    <input type="text" name="enteredValue" placeholder="New item">
    <button type="submit" name="button" value=<%= titleSent %> >+</button>
  </form>
</div>

<%- include("footer") -%>
